th:not(.center) {
  padding-left: 5px;
}

.pointer {
  cursor: pointer;
}

.widthFitContent {
  width: 4em;
}

.quotationNameInput {
  width: 700px;
  max-width: 70vw;
  text-align: center;
  vertical-align: top;
  justify-content: center;
  /* align-items: center; */
}

.quotationNameLabel {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
