th:not(.center) {
  padding-left: 5px;
}

.pointer {
  cursor: pointer;
}

.widthFitContent {
  width: 4em;
}

.quotationNameInput {
  width: 700px;
  max-width: 80%;
  text-align: center;
  vertical-align: top;
  justify-content: center;
  /* align-items: center; */
}
