th:not(.center) {
  padding-left: 5px;
}

a.icon {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

body {
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.widthFitContent {
  width: 4em;
}

.quotationNameInput {
  width: 700px;
  max-width: 70vw;
  text-align: center;
  vertical-align: top;
  justify-content: center;
}

.quotationNameLabel {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.ui.page.modals {
  z-index: 10000;
}
